<main class="form-signin text-center">
  <form id="signup-form">
    <h1 class="h3 mb-3 fw-normal text-light">Sign up today!</h1>

    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="username-signup"
        placeholder="Doe246"
        autofocus="true"
      />
      <label for="username-signup">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="email-signup"
        placeholder="example@example.com"
        autofocus="true"
      />
      <label for="username-signup">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="password-signup"
        placeholder="Password"
        autofocus="true"
      />
      <label for="password-signup">Password</label>
    </div>

    <button
      class="w-100 btn btn-lg mb-3 text-light"
      style="background-color:#6353c9;"
      type="submit"
    >Sign up</button>
    <a class="login-link text-light" href="/login">Log in instead</a>
  </form>
</main>

<script src="/js/signup.js"></script>